{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-8">
        {% include 'blog/blog_list.html.twig' %}
    </div>
    <div class="col-sm-4">
        <a class="btn" href="/blog/new">
            Write New Blog
        </a>
    </div>
{% endblock %}